{% extends 'base.html' %}
{% block title %} Mon Profil {% endblock %}

{% block content %}
<style>
    .profil{
    display: grid;
    grid-template-columns: auto 900px;
    gap: 20px;
    }
    .mon_profil{
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 10px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        padding: 10px ;
    }
    .mon_profil span{
        font-weight: 600;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        color: rgb(53, 144, 111);
    }
    .mon_profil img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    @media (max-width: 768px){
        .profil{
            display: flex;
            flex-direction: column;
        }
    }
</style>
<section class="section">
      <div class="container">
        <h2 class="card-title m-5 text-center">Mon Profil</h2>
        <div class="profil">
          <div class="mon_profil">
            {% if name.photo_profil %}
              <img src="{{ name.photo_profil.url }}" alt="" >
              {% endif %}
            <label class="card-title m-1">Nom d'utilisateur : <span>{{ name.username }}</span></label>
            <label class="card-title m-1">Prenom : <span>{{ name.first_name}}</span></label>
            <label class="card-title m-1">Nom : <span>{{ name.last_name }}</span></label>
            <label class="card-title m-1">Email : <span>{{ name.email }}</span></label>
            <label class="card-title m-1">Mon site web :
                {% if name.site_web %}
                <a href="{{ name.site_web }}"><span>{{ name.site_web }}</span></a>
                {% else %}
                    <span>Auncun site web</span></label>
                {% endif %}
              <label class="card-title m-1">Mon Bio</label>
            <p class="card-text m-1">{{ name.bio }}</p>
          </div>
          <!-- Formulaire de publication -->
          <div class="article_publier">
            <div class="publication">
              <form method="post" enctype="multipart/form-data">  {% csrf_token %}
                  <!-- Message de succes -->
                  {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                  {% endif %}
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Nom d'utilisateur</label>
                      {{ form.username }}
                  </div>
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Prenom</label>
                      {{ form.first_name }}
                  </div>
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Nom</label>
                      {{ form.last_name }}
                  </div>
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Adresse email</label>
                      {{ form.email }}
                  </div>
                  <div class="mb-3">
                      <label for="exampleFormControlTextarea1" class="form-label">Mon Bio (500 caracteres maximum)</label>
                      {{ form.bio }}
                      <!-- Message d'erreur -->
                      {% if form.bio.errors %}
                        <div class="text-danger">
                            {{ form.bio.errors }}
                        </div>
                      {% endif %}
                  </div>
                  <div class="mb-3">
                      <label for="formFile" class="form-label">Choisir un fichier</label>
                      {{ form.photo_profil }}
                  </div>
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Mon site web</label>
                      {{ form.site_web }}
                  </div>
                  <div class="mb-3">
                      <button type="submit" class="btn btn-primary" style="width: 100%;">Enregistrer les modifications</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}